@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(2, 2, 2);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}



h1{
  
  background-color: rgb(24, 49, 24);

}

/* h1
{
 
  font-size:5vw;
  font-weight: 1;
  font-family: "gilroy";
  color: aliceblue;
  
}

h2
{
 
  font-size:3vw;
  font-weight: 1;
  font-family: "gilroy";
  color: rgb(46, 46, 29);
  
}

#btn{
  color: wheat;
  background-color: rgb(128, 106, 106);
  border-radius: 10px;
  font-size: 1vw;
  margin-top:10px ;
  margin-left: 10px;
  padding: 4px;
  text-transform: uppercase;
  border: 1px solid black;
  
}

#hh{
  font-size: 2vw;
  font-weight: normal;
  padding-left: 20px;
  background-color: rgb(28, 28, 31);
} */